DiscordCrawler/.vscode/
DiscordCrawler/bin/
DiscordCrawler/config.json
DiscordCrawler/obj/
DiscordCrawler/project.lock.json
DiscordCrawler/runme.bat
MSniperReader/.vscode/
MSniperReader/bin/
MSniperReader/config.json
MSniperReader/obj/
MSniperReader/project.lock.json
MSniperReader/runme.bat
Windows/.vscode/
feeder/.vscode/
feeder/Cache/
feeder/bin/
feeder/config.json
feeder/obj/
feeder/project.lock.json
runme.bat
wrapper/.vscode/
wrapper/bin/
wrapper/obj/
wrapper/project.lock.json
.vscode