{
    "user_token": "USERTOKEN",
    "PSSniperUrl": "http://127.0.0.1:5000",
    "channels": [
        {
            "server_name": "Pokedex100",
            "channel_name":"100playground",
            "parseregex": "(?<name>[^\\s]+)\\s(?<IV>[^IV]+)IV\\s(?<latitude>[^,]+),(?<longtitude>[^\\s]+)",
            "filters": [
                {
                    "name_filter": "Lapras","minimum_iv" : 0.01 },
                {   "name_filter": "", "minimum_iv" : 99.9  }
            ]
        },
        {
            "server_name": "PokemonGO Tweaks",
            "channel_name":"opulent-100iv",
            "parseregex": "[^.*pokesniper2\\:]+/(?<name>[^.*]+)/(?<latitude>[^*]+),(?<longtitude>[^*]+)\\)(?<IV>[^*]+)\\?",
            "filters": [
                {
                    "name_filter": "Lapras","minimum_iv" : 0.01 },
                {   "name_filter": "", "minimum_iv" : 99.9  }
            ]
        }
    ]
}


            
