{
    "auth_service": "ptc",
    "//auth_service": "google",
    "username": "username",
    "password": "password",
    "hashkey" : "hashkey",
    "webserveraddress": "127.0.0.1",
    "webserverport": "5000",
    "minutestoexpire": 3,
    "startlocation": "37.788626, -122.413547"
}
